@using Entity
@model IEnumerable<Word>

<style>
    table {
        background-color: antiquewhite;
    }
</style>

<div class="container wordindex">

    <h2>Kelimeler</h2>

    @Html.ActionLink("Yeni Kelime Ekle", "Create")
    <br /><br />
    <div class="row">
        <div class="col-md-4">
            @*@Html.DropDownList("ChosenLang",(IEnumerable<SelectListItem>)ViewData["LangOptions"], "Seçiniz", new { @class = "form-control", @placeholder = "Seçiniz" }) Controller da Seçinizi eklemezsek burda böyle ekleriz*@
            @using (Html.BeginForm())
            {
                @Html.DropDownList("langid", (IEnumerable<SelectListItem>)ViewData["LangOptions"], new { @class = "form-control" }) @*htmlde select de dönüşür.Ajaxla secerken select yaz*@
            }
        </div>
    </div>
    <br />
    @if (Model != null)
    {
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Kelime</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.WordTxt</td>
                        <td>@Html.ActionLink("Sil", "Index", new { @sil = item.Id , @langid= ViewBag.langid })</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@section Scripts
{
    <script>
        $("select#langid").change(function () {
            $(".wordindex form").submit();
        });
    </script>
}
